header {
  background-color:#C0C0C0;
}

h1 {
  color:#FFFFFF;
}

header img {
  height: 90px;
  width: 90px;
}

#nav_ref {
  background-color:#7FFFD4;
}

#ref_list {
  background-color:#C0C0C0;
}

#form {
  background-color:#C0C0C0;
}

#table {
  background-color:#7FFFD4;
}

table {
  border:2px;
  margin: 0 auto;
}

th, td {
  width:100px;
}

table tr:nth-child(odd) {
  background-color: #BDB76B;
}

table tr:nth-child(even) {
  background-color: #F0E68C;
}


footer {
  background-color:#7FFFD4;
}
