body {
  margin: 0;
}

header {
  background-color:#C0C0C0;
}

.h1 {
  color: white;
}

header img {
  height: 90px;
  width: 90px;
}

#nav_ref {
  background-color:#C0C0C0
}

.main {
  display: flex;
  flex-direction: column;
  max-width:960px;
  background-color:#C0C0C0;
  margin: 0 auto;
  margin-top:20px;
  padding:10px;
}

#Table {
  order: 2;	
}

.table {
  display: flex;
  flex-direction: column;
  max-width:960px;
  background-color:#C0C0C0;
  margin: 0 auto;
  margin-top:20px;
  padding:30px 10px;
}

table {
  border:2px;
  margin: 0 auto;
}

th, td {
  width:100px;
}

table tr:nth-child(odd) {
  background-color: #BDB76B;
}

table tr:nth-child(even) {
  background-color: #F0E68C;
}

#Form {
  order: 1;	
}

footer {
  display: flex;
  flex-direction: column;
  height:40px;
  max-width:100%;
  background-color:#7FFFD4;
  margin-top:20px;
  padding: 10px;
}

@media (min-width: 960px) {
	#Table {
		order:  1;
	}
	#Form {
		order:  2;
	}
	.nav {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
        }
}
