header {
  height: 120px;
  background-color:#C0C0C0;
}

.h1 {
  max-width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.h2 {
  background-color:#7FFFD4;
  padding: 10px;
}

#logotip {
  margin-left:200px;
  padding: 10px;
  height: 90px;
  width: 90px;
}

.main {
  max-width:960px;
  background-color:#C0C0C0;
  margin: 0 auto;
  margin-top:20px;
  padding:10px;
}

table tr:nth-child(odd) {
  background-color: #BDB76B;
}

table tr:nth-child(even) {
  background-color: #F0E68C;
}

footer {
  height:60px;
  max-width:100%;
  background-color:#7FFFD4;
  margin-top:20px;
  padding: 10px;
}
